<div class="container">
  <div class="tabuadas">
    <div class="ipt-group">
      <input #num type="number" placeholder="Insira o número" />
      <button (click)="calcular(num.value)">
        Exibir
      </button>
    </div>

    <table>
      <tr>
        <th>Fator 1</th>
        <th>Operação</th>
        <th>Fator 2</th>
        <th>Resultado</th>
      </tr>
      <tr>
        <td id="fat1_1"></td>
        <td id="op_1"></td>
        <td id="fat2_1"></td>
        <td id="res_1"></td>
      </tr>
      <tr>
        <td id="fat1_2"></td>
        <td id="op_2"></td>
        <td id="fat2_2"></td>
        <td id="res_2"></td>
      </tr>
      <tr>
        <td id="fat1_3"></td>
        <td id="op_3"></td>
        <td id="fat2_3"></td>
        <td id="res_3"></td>
      </tr>
      <tr>
        <td id="fat1_4"></td>
        <td id="op_4"></td>
        <td id="fat2_4"></td>
        <td id="res_4"></td>
      </tr>
      <tr>
        <td id="fat1_5"></td>
        <td id="op_5"></td>
        <td id="fat2_5"></td>
        <td id="res_5"></td>
      </tr>
      <tr>
        <td id="fat1_6"></td>
        <td id="op_6"></td>
        <td id="fat2_6"></td>
        <td id="res_6"></td>
      </tr>
      <tr>
        <td id="fat1_7"></td>
        <td id="op_7"></td>
        <td id="fat2_7"></td>
        <td id="res_7"></td>
      </tr>
      <tr>
        <td id="fat1_8"></td>
        <td id="op_8"></td>
        <td id="fat2_8"></td>
        <td id="res_8"></td>
      </tr>
      <tr>
        <td id="fat1_9"></td>
        <td id="op_9"></td>
        <td id="fat2_9"></td>
        <td id="res_9"></td>
      </tr>
      <tr>
        <td id="fat1_10"></td>
        <td id="op_10"></td>
        <td id="fat2_10"></td>
        <td id="res_10"></td>
      </tr>
    </table>

  </div>

    <a class="go-back" href="/">BACK</a>

</div>


